:root {
  --hue-selector-radius: 150px;
  --hue-selector-stroke-width: 20px;
  --hue-selector-margin: 10px;
  --sl-selector-width: calc(var(--hue-selector-radius) - var(--hue-selector-stroke-width) / 2 - 10px);
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.color-preview {
  width: 200px;
  height: 200px;
}

.color-picker {
  position: relative;
  width: 500px;
  height: 600px;
  padding: 10px;
  box-sizing: border-box;
  background: hsl(210, 10%, 95%);
  border: hsl(210, 10%, 90%) 1px solid;
  box-shadow: 3px 3px 3px hsla(210, 10%, 30%, 0.2);
}
.slider {
  position: relative;
  width: 200px;
  height: 20px;
  background: url('./transparent.png');
}
.slider .range {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}
.slider .handle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background: white;
  transform: translate(-50%, -25px);
  box-sizing: border-box;
}
.slider.vertical {
  height: 200px;
  width: 20px;
}
.slider.vertical .range {
  width: 20px;
  height: 200px;
}
.slider.vertical .handle {
  transform: translate(-5px, -50%);
}

.visual-picker {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.sl-select {
  position: absolute;
  top: calc(var(--hue-selector-margin) + var(--hue-selector-radius) + var(--hue-selector-stroke-width) / 2);
  left: calc(var(--hue-selector-margin) + var(--hue-selector-radius) + var(--hue-selector-stroke-width) / 2);
  width: calc(var(--sl-selector-width)*1.414);
  height: calc(var(--sl-selector-width)*1.414);
  transform: translate(-50%, -50%);
}
.sl-select .handle {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider.saturation {
  position: absolute;
  top: 91px;
  left: 30px;
}
.slider.alpha {
  position: absolute;
  top: 91px;
  right: 30px;
}
.slider.lightness {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
}

table {
  position: absolute;
  bottom: 100px;
  border-collapse: collapse;
}
table th {
  font-style: normal;
}
table td {
  position: relative;
}
table td input {
  width: 100%;
  height: 26px;
  border: 1px solid hsl(210, 10%, 85%);
  background: white;
  text-align: center;
  box-sizing: border-box;
}
